body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  max-width: 900px;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(30, 30, 30);
  padding: 20px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom: 2px solid lightgray;
  color: greenyellow;
}
main {
  padding: 20px;
  background-color: rgb(30, 30, 30);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom: 2px solid lightgray;
  color: greenyellow;
}

div {
  text-align: center;
  border-radius: 73px;
  background: #1e1e1e;
  box-shadow: 18px 18px 30px #111111, -18px -18px 30px #2b2b2b;
}

.btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: greenyellow;
  color: black;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button:hover {
  color: black;
}

button:after {
  content: '';
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
